**/.DS_Store
.atom/
.idea/
.melos_tool/*
!.vscode/tasks.json
!.vscode/settings.json

# Local scripts
checkout.sh
codegen.sh
generate_apk.sh

.packages
.pub/
.dart_tool/
# Pubspec.lock is only used in apps. Libraries do not need to commit it.
pubspec.lock

local.properties
keystore.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
*.iml

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
generated_plugin_registrant.dart

--release

go_app_latam/android/keystore_prod.properties

build/
.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id
